<!DOCTYPE html>
<html>
<head>
    <title>KC Events</title>

    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
    />

    <style>
        #map {
            height: 600px;
            width: 100%;
            margin-bottom: 20px;
        }
    </style>

</head>

<body>

<h1>KC events</h1>

<form method="GET" action="/">
   
    <label>Date:</label>
    <input type="date" name="date" value="{{ selected_date }}">

    <label>Starts after:</label>
    <input type="time" name="time" value="{{ selected_time }}">

        <!-- Category Filter -->
    <label for="category">Event Type:</label>

    <select name="category" id="category">

        <option value="">All Categories</option>

        <option value="Music"
        {% if selected_category == "Music" %}
            selected
        {% endif %}>
            Music
        </option>

        <option value="Sports"
        {% if selected_category == "Sports" %}
            selected
        {% endif %}>
            Sports
        </option>

        <option value="Comedy"
        {% if selected_category == "Comedy" %}
            selected
        {% endif %}>
            Comedy
        </option>

        <option value="Theater"
        {% if selected_category == "Theater" %}
            selected
        {% endif %}>
            Theater
        </option>

        <option value="Other"
        {% if selected_category == "Other" %}
            selected
        {% endif %}>
            Other
        </option>

    </select>


    <button type="submit">Apply Filters</button>
</form>

<div id="map"></div>

<p>Total events: {{ events|length }}</p>

{% for event in events %}
<div style="margin-bottom:10px;">
    <strong>{{ event.name }}</strong><br>
    {{ event.date }} at {{ event.time }} <br>   {{ event.classification }}

</div>
{% endfor %}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

var map = L.map('map').setView([39.0997, -94.5786], 11);

L.tileLayer(
    'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    {
        attribution: '&copy; OpenStreetMap contributors'
    }
).addTo(map);

{% for event in events %}

    {% if event.lat and event.lon %}

    L.marker([
        {{ event.lat }},
        {{ event.lon }}
    ])
    .addTo(map)
    .bindPopup(
        "<b>{{ event.name }}</b><br>" +
        "{{ event.date }}<br>" +
        "{{ event.time }}"
    );

    {% endif %}

{% endfor %}

</script>

</body>
</html>